<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Guia de perguntas</h1>
    
    <h3>Lista de perguntas</h3>

   <p>nome: <%= nome %></p>
   <p>linguaguem: <%= lang %></p>
   <p>empresa: <%= empresa %></p>
   <p>inscritos <%= inscritos %></p>



   <% if(msg){%>
    <h3>Mensagem de erro!</h3>
   <%}else{%> 
    <h3>nenhum erro! :D </h3>
   <% } %>

   <% produtos.forEach(function(produto ) {%>
        <%= produto.nome %>
        <%= produto.preco %>
        <br>
        <hr>
   <% }) %>
</body>
</html>